@model PollProject.Models.PollViewModel

@{
    ViewBag.Title = "title";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Poll: @Model.Title</h2>
@using (Html.BeginForm("Take", "Poll", FormMethod.Post))
{
    
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Title)
    
    for (var i = 0; i < @Model.Questions.Count; i++ )
    {
        <div class="wizard-step">
            @Html.EditorFor(x => x.Questions[i])
        </div>        
    }    
    
    // div for summary information
    <div class="wizard-step summary">
        
    </div>
    
    <div>
        <input type="button" id="back-step" class="btn" name="back-step" value="< Back"/>
        <input type="button" id="next-step" class="btn" name="next-step" value="Next >"/>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".wizard-step:first").fadeIn();

        // click on the next button
        $("#back-step").hide().click(function () {
            var $step = $(".wizard-step:visible"); 
            if ($step.prev().hasClass("wizard-step")) { 
                $step.hide().prev().fadeIn();

                // disable backstep button?
                if (!$step.prev().prev().hasClass("wizard-step")) {
                    $("#back-step").hide();
                }
                
                $("#next-step").prop("value", "Next >");
            }
        });

        // click on next-step button
        $("#next-step").click(function() {
            var $step = $(".wizard-step:visible");

            var validator = $("form").validate(); 
            var error = false;
            $step.find("input,textarea,select").each(function () {
                if (!validator.element(this)) {
                    error = true;
                }
            });
            
            if (error)
                return false;
            
            // summary step?
            if ($step.next().hasClass("summary")) {

                // fill selected answer text for single answer question
                $(".selectedAnswer option:selected").each(function () {
                    $(this).parent().next().val($(this).text());
                });

                // show the summary
                $.post('@Url.Action("Summary")', $("form").serialize(), function(data) {
                    $(".wizard-step.summary").html(data);
                });

                $("#next-step").prop("value", "Save");
            }

            // go to next step
            if ($step.next().hasClass("wizard-step")) {
                $step.hide().next().fadeIn();
                $("#back-step").show();
            }

            else { 
                $("form").submit();
            }
        });
    });
</script>
